/*
--------
RESET
--------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

/*
--------
TYPO
--------
*/

body {
    font-size: .875rem;
    font-family: 'Roboto', sans-serif;
}

.alert-notifications a {
    font-size: .75rem;
    color: #6d9eb8;
}

.small-text {
    color: #b3b5b8;
    font-size: .75rem;
}

.typo-time {
    color: #c3c5c8;
    font-size: .5625rem
}

.bold {
    font-weight: 500;
}

header i {
    color: #b1b1b1;
}

.search-bar i {
    color: #838383;
    font-size: .75rem;
}

footer i {
    color: #6c7476;
}

/*
--------
COMMON
--------
*/

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

header img {
    width: 2.375rem;
    height: 2.375rem;
    border-radius: 50%;
    display: block;
}

header i {
    margin-right: .9375rem;
}

/*
--------
BODY
--------
*/

body {
    height: 100vh;
    background: linear-gradient(to bottom,#009688 15%, #8fbfb3 15%, #8fbfb3 15.5%, #dddbd1 15.5%, #d2dbdc);
    padding: 2.5rem 0 1.875rem;
}

.big-container {
    background-color: #fff;
    max-width: 71.25rem;
    height: 100%;
    margin: 0 auto;
}

/*
--------
CONTENITORE CONTATTI
--------
*/

.contacts-container {
    width: 25rem;
    flex-direction: column;
}

.contacts-container .profile,
.contacts-container .alert-notifications,
.contacts-container .search-bar {
    flex-shrink: 0;
}

/* Profilo */

.contacts-container .profile {
    background-color: #eaeaea;
    height: 3.125rem;
    border-right: .1250rem solid #e6e6e6;
    padding: .5rem;
}

.contacts-container .profile img {
    margin-right: .1875rem;
}

/* Allerta notifiche */

.contacts-container .alert-notifications {
    background-color: #8edafc;
    height: 3.75rem;
    padding: .875rem;
}

.contacts-container .alert-notifications i {
    height: 2.375rem;
    width: 2.375rem;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 2.375rem;
    color: #8edafc;
    margin-right: .5rem;
}

/* Ricerca contatti */

.contacts-container .search-bar-container {
    background-color: #fafafa;
    height: 2.375rem;
    padding: 0 .3125rem;
}

.contacts-container .search-bar-container .search-bar {
    width: 100%;
    background-color: #fff;
    padding: .4375rem;
}

.contacts-container .search-bar-container .search-bar i {
    padding: 0 .9375rem;
}

.contacts-container .search-bar-container .search-bar input {
    flex-grow: 1;
    border: none;
    height: 100%;
    padding: 0 .3125rem;
}

/* Contatti */

.contacts-container .contacts {
    flex-grow: 1;
    overflow-y: auto;
}

.contacts-container .contacts .contact {
    padding: .4375rem .75rem;
    border-bottom: .0625rem solid #eafaea;
}

.contacts-container .contacts .contact:first-child {
    background-color: #e9ebeb;
}

.contacts-container .contacts .contact img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    display: block;
    padding: .3125rem;
    margin-right: .3125rem;
}

/*
--------
CONTENITORE CHAT
--------
*/

.chat-container {
    width: 46.25rem;
    flex-direction: column;
}

.chat-container .contact-info,
.chat-container .new-message {
    height: 3.125rem;
    flex-shrink: 0;
}

/* Info contatto */

.chat-container .contact-info {
    background-color: #eaeaea;
    padding: .5rem;
}

.chat-container .contact-info img {
    margin-right: .625rem;
}

/* Chat */

.chat-container .chat {
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
    padding: 2.375rem 4.75rem;
    align-items: start;
}

.chat-container .chat .msg {
    padding: .125rem .3125rem;
    margin-bottom: .625rem;
    width: 41%;
    border-radius: .5rem;
}

.chat-container .chat .msg .msg-text {
    padding: .625rem .375rem;
}

.chat-container .chat .msg .msg-time {
    align-self: end;
}

.sent {
    align-self: end;
    background-color: #d5f9ba;
}

.received {
    background-color: #fff;
}

/* Nuovo messaggio */

.chat-container .new-message {
    background-color: #f3eeea;
    padding: .5625rem 0;
}

.chat-container .new-message i {
    margin: 1.6875rem;
}

.chat-container .new-message input {
    flex-grow: 1;
    height: 100%;
    border: none;
    border-radius: .3125rem;
    padding: 0 .5rem;
}

/*
--------
EFFETTI
--------
*/

input:focus {
    outline: none;
}